<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="weiBoAttention" class="spider.WeiBoAttention"></bean>

    <bean id="SpringQtzJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="weiBoAttention"></property>

        <property name="targetMethod" value="runTenStar"></property>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">

        <property name="jobDetail" ref="SpringQtzJobMethod"></property>

        <property name="cronExpression" value="0 0 8,12,18 * * ?"></property>

    </bean>

    <bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="CronTriggerBean"/>
            </list>
        </property>
    </bean>

</beans>